<!DOCTYPE html>
<html>

<head>
    <title>hello</title>
    <link rel="stylesheet" type="text/css" href="/mdB/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/mdB/css/mdb.min.css">
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap-js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/css.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light kk fixed-top" style="background-color: purple">
        <a class="navbar-brand text-white te" href="#" style="font-weight: bold">Fashion AB</a>
        <div class="navbar-collapse">
            <ul class="navbar-nav lead ml-auto" style="font-weight:600;">
                <li>
                    <a href="/" class="nav-link text-white te text-white te"><i class="fas fa-house-damage nav-link tx text-white"></i>Home</a>
                </li>
                <li>
                    <a href="/Shop" class="nav-link text-white te text-white te"><i class="fas fa-shopping-bag nav-link tx text-white"></i>Shop</a>
                </li>
                <li>
                    <a href="/Products" class="nav-link text-white te text-white te"><i class="fas fa-suitcase nav-link tx text-white"></i>products</a>
                </li>
                
                <li>
                    <a href="/Order" class="nav-link text-white te text-white te"><i class="fab fa-first-order nav-link tx text-white"></i>Order</a>
                </li>
                <li>
                    <a href="/Add_Product" class="nav-link text-white te text-white te"><i class="fab fa-product-hunt nav-link tx text-white"></i>Add Product</a>
                </li>
                <li>
                    <a href="/chat" class="nav-link text-white te text-white te"><i class="fas fa-comments nav-link tx text-white"></i>user chat</a>
                </li>
                <li>
                    <a href="/Admin_Product" class="nav-link text-white te text-white te"><i class="fab fa-cloudsmith nav-link tx text-white"></i>Admin Product</a>
                </li>
                <li>
                    <a href="/LOGOUT" class="nav-link text-white te text-white te"><i class="fas fa-sign-out-alt nav-link tx text-white"></i>Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
        
                <div class="col-md-4">
                    <div class="row mt-2 py-2 mb-4 hoverable align-items-center">
                            <div class="col-6">
                                <a>
                                    <img src="https://foreveramber.co.uk/wp-content/uploads/2017/01/sell-used-clothes-for-cash-1200x900.jpg" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-6">
                                <!-- Title -->
                                <a>
                                    <strong>Clothes</strong>
                                </a>
                                <!-- Rating -->
                                
                                <!-- Price -->
                                <h6 class="h6-responsive font-weight-bold dark-grey-text">
                                    <strong>Rs. 2000</strong>
                                    <span class="grey-text">
                                        <small>
                                            <s>3443</s>
                                        </small>
                                    </span>
                                </h6>
                                <a href='3esfsdfsd' class="btn btn-secondary">Buy</a>
                            </div>
                                </div>
                                    <div class="row mt-2 py-2 mb-4 hoverable align-items-center">
                            <div class="col-6">
                                <a>
                                    <img src="https://www.next.co.uk/nxtcms/resource/image/2622150/portrait_ratio2x3/320/480/1f72a9f2a5ff02d0ab76c4ff6cfa34ba/pk/-0003-677-876s.jpg" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-6">
                                <!-- Title -->
                                <a>
                                    <strong>Clothes</strong>
                                </a>
                                <!-- Rating -->
                                
                                <!-- Price -->
                                <h6 class="h6-responsive font-weight-bold dark-grey-text">
                                    <strong>Rs. 5000</strong>
                                    <span class="grey-text">
                                        <small>
                                            <s>6000</s>
                                        </small>
                                    </span>
                                </h6>
                                <a href='3esfsdfsd' class="btn btn-secondary">Buy</a>
                            </div>
                                </div>

                                    <div class="row mt-2 py-2 mb-4 hoverable align-items-center">
                            <div class="col-6">
                                <a>
                                    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/popular-clothing-brands-1591993508.jpg?crop=0.497xw:0.987xh;0,0.00637xh&resize=640:*" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-6">
                                <!-- Title -->
                                <a>
                                    <strong>Clothes</strong>
                                </a>
                                <!-- Rating -->
                                
                                <!-- Price -->
                                <h6 class="h6-responsive font-weight-bold dark-grey-text">
                                    <strong>Rs. 4000</strong>
                                    <span class="grey-text">
                                        <small>
                                            <s>5443</s>
                                        </small>
                                    </span>
                                </h6>
                                <a href='3esfsdfsd' class="btn btn-secondary">Buy</a>
                            </div>
                                </div>
                                    <div class="row mt-2 py-2 mb-4 hoverable align-items-center">
                            <div class="col-6">
                                <a>
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRFfwz-JlgqxhCMVXzHo8GtKlz58Pob8uZ5KA&usqp=CAU" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-6">
                                <!-- Title -->
                                <a>
                                    <strong>Clothes</strong>
                                </a>
                                <!-- Rating -->
                                
                                <!-- Price -->
                                <h6 class="h6-responsive font-weight-bold dark-grey-text">
                                    <strong>Rs. 4000</strong>
                                    <span class="grey-text">
                                        <small>
                                            <s>7443</s>
                                        </small>
                                    </span>
                                </h6>
                                <a href='3esfsdfsd' class="btn btn-secondary">Buy</a>
                            </div>
                                </div>
                                    <div class="row mt-2 py-2 mb-4 hoverable align-items-center">
                            <div class="col-6">
                                <a>
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ5T5evS6grjeXr6QTo6XGLX36UUpNs7Ly8Lg&usqp=CAU" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-6">
                                <!-- Title -->
                                <a>
                                    <strong>Clothes</strong>
                                </a>
                                <!-- Rating -->
                                
                                <!-- Price -->
                                <h6 class="h6-responsive font-weight-bold dark-grey-text">
                                    <strong>Rs. 3000</strong>
                                    <span class="grey-text">
                                        <small>
                                            <s>4543</s>
                                        </small>
                                    </span>
                                </h6>
                                <a href='3esfsdfsd' class="btn btn-secondary">Buy</a>
                            </div>
                                </div>
                                
                </div>






                  <div class="col-md-4">
                    <div class="row mt-2 py-2 mb-4 hoverable align-items-center">
                            <div class="col-6">
                                <a>
                                    <img src="https://www.google.com/search?q=clothes&sxsrf=ALeKk00vPGqbhaVmpNLOeRzf2Cbw0jlskw:1604419348956&source=lnms&tbm=isch&sa=X&ved=2ahUKEwj40vXq3-bsAhW8zDgGHcGmCBUQ_AUoAnoECAQQBA&biw=1438&bih=679#imgrc=txuegYFCJJWNTM" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-6">
                                <!-- Title -->
                                <a>
                                    <strong>Clothes</strong>
                                </a>
                                <!-- Rating -->
                                
                                <!-- Price -->
                                <h6 class="h6-responsive font-weight-bold dark-grey-text">
                                    <strong>Rs. 7000</strong>
                                    <span class="grey-text">
                                        <small>
                                            <s>8443</s>
                                        </small>
                                    </span>
                                </h6>
                                <a href='3esfsdfsd' class="btn btn-secondary">Buy</a>
                            </div>
                                </div>
                                    <div class="row mt-2 py-2 mb-4 hoverable align-items-center">
                            <div class="col-6">
                                <a>
                                    <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/8969717/2019/3/28/e448c9a1-3a0f-40e7-b267-1bf44a44ba501553778956208-Indo-Era-Beige-Solid-Straight-Kurta-Sets-9801553778954623-1.jpg" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-6">
                                <!-- Title -->
                                <a>
                                    <strong>Clothes</strong>
                                </a>
                                <!-- Rating -->
                                
                                <!-- Price -->
                                <h6 class="h6-responsive font-weight-bold dark-grey-text">
                                    <strong>Rs. 10000</strong>
                                    <span class="grey-text">
                                        <small>
                                            <s>12000</s>
                                        </small>
                                    </span>
                                </h6>
                                <a href='3esfsdfsd' class="btn btn-secondary">Buy</a>
                            </div>
                                </div>

                                    <div class="row mt-2 py-2 mb-4 hoverable align-items-center">
                            <div class="col-6">
                                <a>
                                    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/affordableonline-1594998657.jpg?crop=0.502xw:1.00xh;0.251xw,0&resize=640:*" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-6">
                                <!-- Title -->
                                <a>
                                    <strong>Clothes</strong>
                                </a>
                                <!-- Rating -->
                                
                                <!-- Price -->
                                <h6 class="h6-responsive font-weight-bold dark-grey-text">
                                    <strong>Rs. 7000</strong>
                                    <span class="grey-text">
                                        <small>
                                            <s>8843</s>
                                        </small>
                                    </span>
                                </h6>
                                <a href='3esfsdfsd' class="btn btn-secondary">Buy</a>
                            </div>
                                </div>
                                    <div class="row mt-2 py-2 mb-4 hoverable align-items-center">
                            <div class="col-6">
                                <a>
                                    <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/10942392/2019/11/19/79f3d4a1-bbf3-442b-b7de-83573ebb99851574150523536-Anubhutee-Women-Kurta-Sets-1381574150520307-1.jpg" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-6">
                                <!-- Title -->
                                <a>
                                    <strong>Clothes</strong>
                                </a>
                                <!-- Rating -->
                                
                                <!-- Price -->
                                <h6 class="h6-responsive font-weight-bold dark-grey-text">
                                    <strong>Rs. 1200</strong>
                                    <span class="grey-text">
                                        <small>
                                            <s>3213</s>
                                        </small>
                                    </span>
                                </h6>
                                <a href='3esfsdfsd' class="btn btn-secondary">Buy</a>
                            </div>
                                </div>
                                    <div class="row mt-2 py-2 mb-4 hoverable align-items-center">
                            <div class="col-6">
                                <a>
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS5TM4LChmhng2_UMoW3ifuiQFRlTcjk8BBsw&usqp=CAU" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-6">
                                <!-- Title -->
                                <a>
                                    <strong>Clothes</strong>
                                </a>
                                <!-- Rating -->
                                
                                <!-- Price -->
                                <h6 class="h6-responsive font-weight-bold dark-grey-text">
                                    <strong>Rs. 8000</strong>
                                    <span class="grey-text">
                                        <small>
                                            <s>9999</s>
                                        </small>
                                    </span>
                                </h6>
                                <a href='3esfsdfsd' class="btn btn-secondary">Buy</a>
                            </div>
                                </div>
                                
                </div>

                  <div class="col-md-4">
                    <div class="row mt-2 py-2 mb-4 hoverable align-items-center">
                            <div class="col-6">
                                <a>
                                    <img src="https://www.prettygreen.com/media/__sized__/homepage/Track-Tops-1000-x-1000_27082020-crop-c0-5__0-5-800x800-70.jpg" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-6">
                                <!-- Title -->
                                <a>
                                    <strong>Clothes</strong>
                                </a>
                                <!-- Rating -->
                                
                                <!-- Price -->
                                <h6 class="h6-responsive font-weight-bold dark-grey-text">
                                    <strong>Rs. 15000</strong>
                                    <span class="grey-text">
                                        <small>
                                            <s>20000</s>
                                        </small>
                                    </span>
                                </h6>
                                <a href='3esfsdfsd' class="btn btn-secondary">Buy</a>
                            </div>
                                </div>
                                    <div class="row mt-2 py-2 mb-4 hoverable align-items-center">
                            <div class="col-6">
                                <a>
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQUPV-nXnsgD3LSr0FYp7cMIhBG4hrmgpJbXg&usqp=CAU" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-6">
                                <!-- Title -->
                                <a>
                                    <strong>Clothes</strong>
                                </a>
                                <!-- Rating -->
                                
                                <!-- Price -->
                                <h6 class="h6-responsive font-weight-bold dark-grey-text">
                                    <strong>Rs. 5570</strong>
                                    <span class="grey-text">
                                        <small>
                                            <s>7750</s>
                                        </small>
                                    </span>
                                </h6>
                                <a href='3esfsdfsd' class="btn btn-secondary">Buy</a>
                            </div>
                                </div>

                                    <div class="row mt-2 py-2 mb-4 hoverable align-items-center">
                            <div class="col-6">
                                <a>
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQEmcbz5gyZPHdgdyhY5446atNKG-WPE2FGvg&usqp=CAU" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-6">
                                <!-- Title -->
                                <a>
                                    <strong>Clothes</strong>
                                </a>
                                <!-- Rating -->
                                
                                <!-- Price -->
                                <h6 class="h6-responsive font-weight-bold dark-grey-text">
                                    <strong>Rs. 5000</strong>
                                    <span class="grey-text">
                                        <small>
                                            <s>8333</s>
                                        </small>
                                    </span>
                                </h6>
                                <a href='3esfsdfsd' class="btn btn-secondary">Buy</a>
                            </div>
                                </div>
                                    <div class="row mt-2 py-2 mb-4 hoverable align-items-center">
                            <div class="col-6">
                                <a>
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTbX5amoVoL9YagheVyDbYhmXncl6TEC5wy5Q&usqp=CAU" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-6">
                                <!-- Title -->
                                <a>
                                    <strong>Clothes</strong>
                                </a>
                                <!-- Rating -->
                                
                                <!-- Price -->
                                <h6 class="h6-responsive font-weight-bold dark-grey-text">
                                    <strong>Rs. 5000</strong>
                                    <span class="grey-text">
                                        <small>
                                            <s>8843</s>
                                        </small>
                                    </span>
                                </h6>
                                <a href='3esfsdfsd' class="btn btn-secondary">Buy</a>
                            </div>
                                </div>
                                    <div class="row mt-2 py-2 mb-4 hoverable align-items-center">
                            <div class="col-6">
                                <a>
                                    <img src="https://i0.wp.com/post.healthline.com/wp-content/uploads/2020/07/Best_Baby_Clothes_Primary.png?w=315&h=840" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-6">
                                <!-- Title -->
                                <a>
                                    <strong>Clothes</strong>
                                </a>
                                <!-- Rating -->
                                
                                <!-- Price -->
                                <h6 class="h6-responsive font-weight-bold dark-grey-text">
                                    <strong>Rs. 8000</strong>
                                    <span class="grey-text">
                                        <small>
                                            <s>10000</s>
                                        </small>
                                    </span>
                                </h6>
                                <a href='3esfsdfsd' class="btn btn-secondary">Buy</a>
                            </div>
                                </div>
                                
                </div>
                

        </div>


        
    </div>
</body>

</html>